@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <div class="row">
        <div class="col-5" style="padding-right: 0px;padding-left: 0px;">
            <div>@Html.ActionLink("Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color: white", @class = "badge bg-primary text-badge" })</div>
        </div>
        
        <div class="col-5" style="padding-right: 0px;padding-left: 0px; margin-left:15px;">
            <div>@Html.ActionLink("Inicio", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color: white", @class = "badge bg-success text-badge" })</div>
        </div>
    </div>
}
