<!-- MÓDULO SUPERIOR -->
<section class="content-header" style="margin-left:-86px; margin-right:-2px; padding-top:0px; padding-bottom:0px">
    <div class="container-fluid">

        <!-- FILA -->
        <div class="row mb-2">


            <!-- INPUTS DE BÚSQUEDA -->
            <div class="col-md-2 col-sm-6 col-12">

                <select class="form-control select2" style="width: 100%;  height:37px;">
                    <option selected="selected">Rut</option>
                    <option>Nombre</option>
                    <option>ID</option>
                </select>
            </div>

            <!-- BARA DE BÚSQUEDA  -->
            <div class="col-md-4 col-sm-6 col-12">

                <div class="sidebar-search" style="width:100%">
                    <div>
                        <div class="input-group" style="height:100%">
                            <input type="text" class="form-control search-menu" placeholder="Buscar deudor" style="height:100%">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BOTÓN GESTIONAR -->
            <div class="col-md-2 col-sm-6 col-12">
                <button type="button" class="btn btn-block button-two">Gestionar</button>
            </div>

            <!-- BOTÓN FONOS -->
            <div class="col-md-2 col-sm-6 col-12">
                <button type="button" class="btn btn-block button-one" data-toggle="modal" data-target="#modal-xl2">Fonos</button>
            </div>

            <!-- BOTÓN EMAILS -->
            <div class="col-md-2 col-sm-6 col-12">
                <button type="button" class="btn btn-block button-one" data-toggle="modal" data-target="#modal-xl">Emails</button>
            </div>
        </div>
    </div>
</section>



<!-- LAS 4 TABLAS -->
<section class="content" style="margin-left:-78px; margin-right:5px;">
    <div class="container-fluid">

        <div class="row">



            <div class="col-md-6" style="padding-right:4px;">
                <div class="card" style="margin-bottom:6px;">
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fas fa-globe"></i> Información de cartera</h3>
                    </div>


                    <div class="card-body p-0">
                        <table class="table table-condensed">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-industry"></i></td>
                                    <td><p class="bold-crm">Mandante:</p></td>
                                    <td><p class="text-crm">Ripley S.A</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-user-circle-o"></i></td>
                                    <td><p class="bold-crm">Ejecutivo asignado:</p></td>
                                    <td><p class="text-crm">Alguien</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-check-square-o"></i></td>
                                    <td><p class="bold-crm">Estado:</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-calendar"></i></td>
                                    <td><p class="bold-crm">Fec. Último estado:</p></td>
                                    <td><p class="text-crm">04/10/2019</p>
                                    <td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-archive"></i></td>
                                    <td><p class="bold-crm">Producto:</p></td>
                                    <td><p class="text-crm">Car</p></td>
                                </tr>


                            </tbody>
                        </table>


                    </div>

                </div>





                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fas fa-credit-card"></i> Detalle deuda</h3>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-condensed">
                            <thead>

                            </thead>
                            <tbody>

                                <tr>
                                    <td><i class="fa fa-money"></i></td>
                                    <td><p class="bold-crm">Capital:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-percent"></i></td>
                                    <td><p class="bold-crm">Interés:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-calculator"></i></td>
                                    <td><p class="bold-crm">Gastos:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fa fa-credit-card"></i></td>
                                    <td><p class="bold-crm">Cargos:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>


                                <tr>
                                    <td><i class="fa fa-credit-card"></i></td>
                                    <td><p class="bold-crm">Otros Cargos:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>


                                <tr>
                                    <td><i class="fa fa-times"></i></td>
                                    <td><p class="bold-crm">X Vencer:</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>


                                <tr>
                                    <td><i class="fa fa-money"></i></td>
                                    <td><p class="bold-crm">Total pagos</p></td>
                                    <td><p class="text-crm">$1430</p></td>
                                </tr>


                                <tr>
                                    <td><i class="fa fa-money"></i></td>
                                    <td><p class="bold-crm">Saldo:</p></td>
                                    <td><span class="badge bg-success text-badge">$800</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>





            <div class="col-md-6" style="padding-left:4px">
                <div class="card" style="margin-bottom:6px;">
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fas fa-address-book "></i> Datos deudor</h3>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-condensed">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fas fa-address-card"></i></td>
                                    <td><p class="bold-crm">Rut:</p></td>
                                    <td><p class="text-crm">26263200-8</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fas fa-hashtag"></i>
                                    </td>
                                    <td><p class="bold-crm">Id Deudor:</p></td>

                                    <td><p class="text-crm">#209945</p></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-user"></i></td>
                                    <td><p class="bold-crm">Nombre completo:</p></td>
                                    <td><p class="text-crm">Kevin Briceño</p></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-map-marker "></i></td>
                                    <td><p class="bold-crm">Dirección:</p></td>
                                    <td><p class="text-crm">San Isidro</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fas fa-home "></i></td>
                                    <td><p class="bold-crm">Comuna:</p></td>
                                    <td><p class="text-crm">Santiago</p></td>
                                </tr>

                                <tr>
                                    <td><i class="fas fa-map"></i></td>
                                    <td><p class="bold-crm">Ciudad:</p></td>
                                    <td><p class="text-crm">Santiago</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>




                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fa fa-bar-chart"></i> Estadísticas</h3>
                    </div>

                    <div class="card-body p-0">
                        <table class="table table-condensed">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-phone-square"></i></td>
                                    <td><p class="bold-crm">q_llamados:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-success text-badge">+70%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="far fa-times-circle"></i></td>
                                    <td><p class="bold-crm">q_rechazan:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-danger text-badge">+34%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="far fa-times-circle"></i></td>
                                    <td><p class="bold-crm">q_rechazan_mes_actual:</p>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-danger text-badge">+65%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-ban"></i></td>
                                    <td><p class="bold-crm">q_titular_corta:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-danger text-badge">+23%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-ban"></i></td>
                                    <td><p class="bold-crm">q_titular_corta_mes_actual:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-success text-badge">-20%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-credit-card"></i></td>
                                    <td><p class="bold-crm">q_compromiso:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-success text-badge">+40%</span></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-credit-card"></i></td>
                                    <td><p class="bold-crm">q_compromiso_mes:</p></td>
                                    <td>
                                        <p class="text-crm">12</p>
                                    </td>
                                    <td><span class="badge bg-success text-badge">+10%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<!-- TABLA DOCUMENTOS -->
<section class="content" style="margin-left:-78px; margin-right:5px;">
    <div class="container-fluid">

        <!-- FILA -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fa fa-file-text"></i> Documentos</h3>



                    </div>

                    <div class="card-body table-responsive p-0" style="padding:12px">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><p class="table-th-crm">N° Documento</p></th>
                                    <th><p class="table-th-crm">Fec. Vencimiento</p></th>
                                    <th><p class="table-th-crm">Días Mora</p></th>
                                    <th><p class="table-th-crm">Monto</p></th>
                                    <th><p class="table-th-crm">Interés</p></th>
                                    <th><p class="table-th-crm">Honorarios</p></th>
                                    <th><p class="table-th-crm">Gastos</p></th>
                                    <th><p class="table-th-crm">Gastos Jud.</p></th>
                                    <th><p class="table-th-crm">Interés Penal</p></th>
                                    <th><p class="table-th-crm">Estado</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button type="button" class="btn btn-primary button-inner crm-font" style="height:75%"><i class="fa fa-info-circle"></i></button></td>
                                    <td><p class="text-crm">17070580</p></td>
                                    <td><p class="text-crm">01/03/2017</p></td>
                                    <td><p class="text-crm">1008</p></td>
                                    <td><p class="text-crm">357853</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary button-inner crm-font" style="height:75%"><i class="fa fa-info-circle"></i></button></td>
                                    <td><p class="text-crm">17070580</p></td>
                                    <td><p class="text-crm">01/03/2017</p></td>
                                    <td><p class="text-crm">1008</p></td>
                                    <td><p class="text-crm">357853</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary button-inner crm-font" style="height:75%"><i class="fa fa-info-circle"></i></button></td>
                                    <td><p class="text-crm">17070580</p></td>
                                    <td><p class="text-crm">01/03/2017</p></td>
                                    <td><p class="text-crm">1008</p></td>
                                    <td><p class="text-crm">357853</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>

                                <tr>
                                    <td><button type="button" class="btn btn-primary button-inner crm-font" style="height:75%"><i class="fa fa-info-circle"></i></button></td>
                                    <td><p class="text-crm">17070580</p></td>
                                    <td><p class="text-crm">01/03/2017</p></td>
                                    <td><p class="text-crm">1008</p></td>
                                    <td><p class="text-crm">357853</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>

                                <tr>
                                    <td><button type="button" class="btn btn-primary button-inner crm-font" style="height:75%"><i class="fa fa-info-circle"></i></button></td>
                                    <td><p class="text-crm">17070580</p></td>
                                    <td><p class="text-crm">01/03/2017</p></td>
                                    <td><p class="text-crm">1008</p></td>
                                    <td><p class="text-crm">357853</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Vigente</p></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>





<!-- TABLA GESTIONES -->
<section class="content" style="margin-left:-78px; margin-right:5px;">
    <div class="container-fluid">

        <!-- FILA -->
        <div class="row">

            <!-- 12 COLUMNAS -->
            <div class="col-12">


                <!-- CARTA -->
                <div class="card">

                    <!-- CARTA-CABECERA -->
                    <div class="card-header">
                        <h3 class="card-title title-crm"><i class="fa fa-clipboard"></i> Gestiones</h3>

                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- CARTA-CUERPO -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><p class="table-th-crm">Tipo</p></th>
                                    <th><p class="table-th-crm">Gestionador</p></th>
                                    <th><p class="table-th-crm">Fec. Ingreso</p></th>
                                    <th><p class="table-th-crm">Gestión</p></th>
                                    <th><p class="table-th-crm">F.Compromiso</p></th>
                                    <th><p class="table-th-crm">Fono Gest.</p></th>
                                    <th><p class="table-th-crm">Email</p></th>
                                    <th><p class="table-th-crm">Abono</p></th>
                                    <th><p class="table-th-crm">D.vcto</p></th>
                                    <th><p class="table-th-crm">Cuotas</p></th>
                                    <th><p class="table-th-crm">Origen</p></th>
                                    <th><p class="table-th-crm">B</p></th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td><p class="text-crm">X</p></td>
                                    <td><p class="text-crm">SMS</p></td>
                                    <td><p class="text-crm">27/09/2018 18:03:48</p></td>
                                    <td><p class="text-crm">ENVIA SMS</p></td>
                                    <td><p class="text-crm">25/09/2018</p></td>
                                    <td><p class="text-crm">0985526831</p></td>
                                    <td><p class="text-crm">will@gmail.com</p></td>
                                    <td><p class="text-crm">35910</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Manual</p></td>
                                    <td><p class="text-crm">N</p></td>
                                </tr>

                                <tr>
                                    <td colspan="12">
                                        <p class="text-crm">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima atque soluta dolor
                                            ullam quam, totam illum incidunt sed, vel officia qui? Praesentium quos mollitia deserunt veritatis,
                                            ea et eius.
                                        </p>
                                    </td>
                                </tr>


                                <tr>
                                    <td><p class="text-crm">X</p></td>
                                    <td><p class="text-crm">SMS</p></td>
                                    <td><p class="text-crm">27/09/2018 18:03:48</p></td>
                                    <td><p class="text-crm">ENVIA SMS</p></td>
                                    <td><p class="text-crm">25/09/2018</p></td>
                                    <td><p class="text-crm">0985526831</p></td>
                                    <td><p class="text-crm">will@gmail.com</p></td>
                                    <td><p class="text-crm">35910</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Manual</p></td>
                                    <td><p class="text-crm">N</p></td>
                                </tr>

                                <tr>
                                    <td colspan="12">
                                        <p class="text-crm">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima atque soluta dolor
                                            ullam quam, totam illum incidunt sed, vel officia qui? Praesentium quos mollitia deserunt veritatis,
                                            ea et eius.
                                        </p>
                                    </td>
                                </tr>



                                <tr>
                                    <td><p class="text-crm">X</p></td>
                                    <td><p class="text-crm">SMS</p></td>
                                    <td><p class="text-crm">27/09/2018 18:03:48</p></td>
                                    <td><p class="text-crm">ENVIA SMS</p></td>
                                    <td><p class="text-crm">25/09/2018</p></td>
                                    <td><p class="text-crm">0985526831</p></td>
                                    <td><p class="text-crm">will@gmail.com</p></td>
                                    <td><p class="text-crm">35910</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">0</p></td>
                                    <td><p class="text-crm">Manual</p></td>
                                    <td><p class="text-crm">N</p></td>
                                </tr>

                                <tr>
                                    <td colspan="12">
                                        <p class="text-crm">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minima atque soluta dolor
                                            ullam quam, totam illum incidunt sed, vel officia qui? Praesentium quos mollitia deserunt veritatis,
                                            ea et eius.
                                        </p>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>



            </div>
        </div>


    </div>
</section>



<!-- MODAL EMAIL -->
<section class="content">
    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Email Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- MODAL FONOS -->
<section class="content">
    <div class="modal fade" id="modal-xl2">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fonos Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>